.section1{
    width:67%;
  }
  .sec1 {
    background-color: #f8f9fd;
  }
  
 
  .arrow{
    font-size: xx-large;
  }
  .txt{
    font-size: 2em;
  }
  .boxes1{
    height: 8em;
  }
  .box1{
    
      height: 4em;
  }
  .image1{
    font-size: 3em;
  }
  .bo{
    width:82%;
    border-radius: 20px;
  }
  
  @media (max-width:2566px) and (min-width:2500px){
    .section1{
        /* width:69%; */
    }
    .arrow{
      font-size: 9em;
    }
    .txt{
      font-size: 8em;
    }
  }
  @media (max-width:1445px) and (min-width:1400px)
  {
    .section1{
        /* width:61%; */
    }
    .txt{
      font-size: 4em;
    }
  }
  @media (max-width:1030px) and (min-width:1010px)
  {
    .section1{
    /* width:90%; */
    }
    .txt{
      font-size: 3em;
    }
    .arrow{
      font-size: x-large;
    }
  }
  @media (max-width:770px) and (min-width:700px)
  {
    .bo{
      width:100%;
    }
    .section1{
        /* width:69%; */
    }
   
    .arrow{
      font-size: 1.8em;
    }
    .txt{
      
      font-size: 1.6em;
    }
  }
  @media (max-width:430px) and (min-width:400px){
    .bo{
      width:100%;
    }
    .box1{
      height:5em;
      font-size: 0.8em;
    }
    .section1{
      /* width:100%; */
    }
    .arrow{
      font-size: 0.8em;
    }
    .txt{
      padding-top: 3px;
      font-size: 1em;
    }
  
  }
  @media (max-width:380px) and (min-width:300px)
  {
    .bo{
      width:100%;
    }
    .box1{
      height:5em;
      font-size: 0.6em;
    }
    .section1{
      /* width:100%; */
    }
    .arrow{
      font-size: 0.8em;
      margin:0px;
    }
    .txt{
      padding-top: 3px;
      font-size: 1em;
    }
  }